body {
    background: #f2f6ff;
    font-family: Arial;
}

.card {
    width: 350px;
    margin: 60px auto;
    padding: 25px;
    background: white;
    border-radius: 12px;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
}

button {
    background: #4a6cf7;
    color: white;
    border: none;
    cursor: pointer;
}

.result {
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
